<!DOCTYPE html>
<html class="sl-theme-light">
  <head>
    <title>Esbuild</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <link rel="stylesheet" href="https://unpkg.com/@shoelace-style/shoelace@2.0.0-beta.57/dist/themes/light.css"> %>

    <%# <meta name="turbo-cache-control" content="no-cache"> %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main data-controller="controllers--hello">
      <%= yield %>
    </main>
  </body>
</html>
